https://www.perplexity.ai/search/c7c67e8b-1075-40c1-ab9e-69b6324a8954

In [ ]:
!pip install yfinance

In [ ]:
import yfinance as yf
ticker = '2330.TW'  # 台灣50 ETF
start_date = '2024-01-01'
end_date = '2024-06-01'

data = yf.download(ticker, start=start_date, end=end_date, interval='1d',auto_adjust=False)
data['Adj Close']['2330.TW']

In [ ]:
from pandas import DataFrame
start_date = '2024-01-01'
end_date = '2025-01-01'

tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']
all_data:dict[str:DataFrame]= {ticker: yf.download(ticker,start=start_date, end=end_date, interval='1d',auto_adjust=False) for ticker in tickers }

In [14]:
import pandas as pd

price_df = pd.DataFrame({key:dataframe['Adj Close'][key] for key,dataframe in all_data.items()})
price_df1 = price_df.rename(columns={'2330.TW':'台積電','2303.TW':'聯電','2454.TW':'聯發科','2317.TW':'鴻海'})
price_df1

                    台積電         聯電          聯發科          鴻海
Date
2024-01-02   582.770691  49.163513   915.833191  102.375000
2024-01-03   568.029541  47.932056   889.693176  101.887505
2024-01-04   569.994934  48.121510   889.309814  101.400002
2024-01-05   566.064026  48.121510   882.601746  101.400002
2024-01-08   572.943176  47.837330   881.643433   98.962502
...                 ...        ...          ...         ...
2024-12-25  1075.403198  44.049999  1381.102417  186.500000
2024-12-26  1075.403198  43.700001  1390.897583  187.500000
2024-12-27  1080.358887  43.599998  1400.692627  186.500000
2024-12-30  1080.358887  43.099998  1390.897583  185.000000
2024-12-31  1065.491699  43.049999  1386.000000  184.000000

[242 rows x 4 columns]

In [16]:
price_df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 242 entries, 2024-01-02 to 2024-12-31
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   台積電     242 non-null    float64
 1   聯電      242 non-null    float64
 2   聯發科     242 non-null    float64
 3   鴻海      242 non-null    float64
dtypes: float64(4)
memory usage: 9.5 KB