https://www.perplexity.ai/search/0eafd6c8-1230-4d5d-9553-446ea1f18997

In [ ]:
#學生成績單

import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50, 5))
scores_pd = pd.DataFrame(scores,columns=['國文','英文','數學','地理','歷史'],index=range(1,51))
scores_pd.T

In [ ]:
scores_pd.index.name = "學號"
scores_pd.columns.name = "科目"
sum_value = scores_pd.sum(axis=1)
mean_value = np.mean(scores_pd,axis=1)

In [ ]:
scores_pd['總分'] = sum_value
scores_pd['平均'] = mean_value

In [ ]:
#排序
scores_pd1 = scores_pd.sort_values(by='總分',ascending=False)
scores_pd1

In [ ]:
#排名
scores_pd1['排名'] = scores_pd1['總分'].rank(axis=0,method='min',ascending=False)

In [ ]:
scores_pd1
scores_pd1.map(lambda v:float(v))

In [46]:
def calulate(s):
    #return 自訂的series
    custom_series = pd.Series([s.min(),s.max(),s.median(),s.std()],index=["最低分數","最高分數","中間值","標準差"])
    return custom_series
scores_pd1.iloc[:,:5].apply(calulate)

科目           國文          英文          數學          地理          歷史
最低分數  50.000000   51.000000   50.000000   50.000000   50.000000
最高分數  98.000000  100.000000  100.000000  100.000000  100.000000
中間值   69.000000   80.000000   77.500000   78.000000   78.500000
標準差   14.137806   14.299365   15.081831   13.720891   14.703172