https://www.perplexity.ai/search/0eafd6c8-1230-4d5d-9553-446ea1f18997

In [ ]:
#學生成績單

import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50, 5))
scores_pd = pd.DataFrame(scores,columns=['國文','英文','數學','地理','歷史'],index=range(1,51))
scores_pd.T

In [ ]:
scores_pd.index.name = "學號"
scores_pd.columns.name = "科目"
sum_value = scores_pd.sum(axis=1)
mean_value = np.mean(scores_pd,axis=1)

In [ ]:
scores_pd['總分'] = sum_value
scores_pd['平均'] = mean_value

In [25]:
#排序
scores_pd1 = scores_pd.sort_values(by='總分',ascending=False)
scores_pd1

科目  國文   英文   數學   地理   歷史   總分    平均
學號
42  87   91   78  100   96  452  90.4
29  77   96   89   92   88  442  88.4
5   72   90   93   80   98  433  86.6
24  97   80   84   82   84  427  85.4
50  66   91   79   91   99  426  85.2
28  72   57  100  100   92  421  84.2
44  94   84   75   82   84  419  83.8
12  79   84   80   94   80  417  83.4
14  78   94   62   97   85  416  83.2
30  57   98  100   78   79  412  82.4
19  86   95   80   70   80  411  82.2
10  65   96   65   99   84  409  81.8
20  95  100   74   62   75  406  81.2
39  84   94   53   78   96  405  81.0
46  77   87   88   67   81  400  80.0
35  88   69   70   86   87  400  80.0
37  85   60   87   86   81  399  79.8
1   52   96   96   82   71  397  79.4
6   57   92   88   78   80  395  79.0
34  51   85   89   75   92  392  78.4
43  56   76   98   77   83  390  78.0
36  57   87   81   98   66  389  77.8
26  56   87   62   84   94  383  76.6
21  84   79   72   51   97  383  76.6
18  57   87   88   77   70  379  75.8
8   98   51   78   69   81  377  75.4
13  69   86   79   58   82  374  74.8
11  63   54   96   82   76  371  74.2
23  83   62   69   82   74  370  74.0
3   52   82   93   82   61  370  74.0
49  89   76   57   92   56  370  74.0
32  63   85   78   76   68  370  74.0
47  74   99   58   63   72  366  73.2
31  81   63   96   65   58  363  72.6
16  68   88   51   82   72  361  72.2
22  63   52   77   67  100  359  71.8
27  89   77   52   73   59  350  70.0
7   70   67   60   89   60  346  69.2
4   56   76   65   92   53  342  68.4
9   50   68   89   73   62  342  68.4
33  75   58   62   66   78  339  67.8
41  77   62   65   62   73  339  67.8
38  63   66   96   58   50  333  66.6
45  50   73   50   53   99  325  65.0
17  67   62   55   85   50  319  63.8
48  55   80   63   71   50  319  63.8
40  51   80   70   51   58  310  62.0
25  63   52   62   68   62  307  61.4
15  69   62   61   59   52  303  60.6
2   53   76   50   50   71  300  60.0

In [31]:
#排名
scores_pd1['排名'] = scores_pd1['總分'].rank(axis=0,method='min',ascending=False)

In [ ]:
scores_pd1
scores_pd1.iloc[-5:]

科目  國文  英文  數學  地理  歷史   總分    平均    排名
學號
48  55  80  63  71  50  319  63.8  45.0
40  51  80  70  51  58  310  62.0  47.0
25  63  52  62  68  62  307  61.4  48.0
15  69  62  61  59  52  303  60.6  49.0
2   53  76  50  50  71  300  60.0  50.0