https://www.perplexity.ai/search/c7c67e8b-1075-40c1-ab9e-69b6324a8954

In [ ]:
!pip install yfinance

In [4]:
import yfinance as yf
ticker = '0050.TW'  # 台灣50 ETF
start_date = '2024-01-01'
end_date = '2024-06-01'

data = yf.download(ticker, start=start_date, end=end_date, interval='1d',auto_adjust=False)
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,0050.TW,0050.TW,0050.TW,0050.TW,0050.TW,0050.TW
Date,,,,,,
2024-01-02,129.367706,134.899994,135.949997,134.649994,135.600006,5922076
2024-01-03,127.114105,132.550003,133.899994,132.300003,133.699997,13547475
2024-01-04,127.066139,132.500000,132.750000,132.300003,132.550003,4567593
2024-01-05,126.730492,132.149994,132.949997,132.100006,132.550003,3999671
2024-01-08,127.305893,132.750000,133.600006,132.750000,133.000000,9394720
...,...,...,...,...,...,...
2024-05-27,169.724930,172.949997,173.399994,171.750000,171.750000,5685420
2024-05-28,169.970261,173.199997,173.399994,172.500000,172.949997,5524704
2024-05-29,167.664093,170.850006,172.500000,170.550003,172.449997,6796954
2024-05-30,164.769089,167.899994,169.000000,167.699997,168.000000,9277512
2024-05-31,162.904526,166.000000,168.899994,166.000000,168.250000,8286711