https://www.perplexity.ai/search/0eafd6c8-1230-4d5d-9553-446ea1f18997

In [3]:
#學生成績單

import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50, 5))
scores_pd = pd.DataFrame(scores,columns=['國文','英文','數學','地理','歷史'],index=range(1,51))
scores_pd.T

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
國文,60,74,56,61,91,75,54,78,83,50,...,57,66,60,98,71,100,66,92,95,93
英文,55,90,91,51,81,82,62,70,74,78,...,74,68,97,72,97,71,84,60,50,93
數學,72,86,57,53,66,66,72,90,56,56,...,60,98,56,70,59,54,74,68,57,71
地理,94,65,73,82,74,83,92,59,94,79,...,63,97,87,66,100,50,92,81,76,87
歷史,98,89,91,93,86,94,91,68,97,78,...,59,93,78,62,58,89,89,58,81,52