https://www.perplexity.ai/search/8fd61408-570f-421c-9bc1-875b9f2a95df

In [ ]:
import pandas as pd
import tools as ts
from tools import Student

print(ts.PI)
print(ts.func1(10, 20))
stu1 = Student("robert", 89, 95, 65)
print(stu1.name)
print(stu1.chinese)
print(stu1.math)
print(stu1.english)

In [ ]:
import pandas as pd
from pandas import DataFrame

df:DataFrame = pd.read_csv("各鄉鎮市區人口密度.csv")
df

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   statistic_yyy       371 non-null    object
 1   site_id             375 non-null    object
 2   people_total        371 non-null    object
 3   area                371 non-null    object
 4   population_density  371 non-null    object
dtypes: object(5)
memory usage: 14.8+ KB

In [9]:
##選取欄
df['site_id']

0                                                    區域別
1                                                 新北市板橋區
2                                                 新北市三重區
3                                                 新北市中和區
4                                                 新北市永和區
                             ...
371                                                  NaN
372                             說明：1.人口密度係指每單位土地面積內之人口數。
373    2.96年12月起，我國土地面積增列東沙群島(2.38平方公里)及南沙群島(0.4896平方公里)
374             ，由高雄市代管；原金門縣烏坵鄉面積，因重測由2.6平方公里修正為1.2平方公里。
375             3.104年12月南沙太平島交通基礎整建工程竣工，增加面積0.0149平方公里。
Name: site_id, Length: 376, dtype: object

In [11]:
## 選取列
df.iloc[:5,:3]

  statistic_yyy site_id people_total
0           統計年     區域別        年底人口數
1           106  新北市板橋區       551480
2           106  新北市三重區       387484
3           106  新北市中和區       413590
4           106  新北市永和區       222585

In [ ]:
## 透過值的選取(mask)
masked = df['site_id'] == '新北市中和區'
df[masked]

  statistic_yyy site_id people_total    area population_density
3           106  新北市中和區       413590  20.144              20532

In [16]:
## 透過query的選取
df.query('site_id=="新北市中和區"')

  statistic_yyy site_id people_total    area population_density
3           106  新北市中和區       413590  20.144              20532