https://www.perplexity.ai/search/66a9bb20-44c6-46c5-93f4-bc92820868a3

In [ ]:
import yfinance as yf
import pandas as pd

from pandas import DataFrame
start_date = '2024-01-01'
end_date = '2025-01-01'

tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']
all_data:dict[str:DataFrame]= {ticker: yf.download(ticker,start=start_date, end=end_date, interval='1d',auto_adjust=False) for ticker in tickers }
price_df = pd.DataFrame({key:dataframe['Adj Close'][key] for key,dataframe in all_data.items()})
price_df1 = price_df.rename(columns={'2330.TW':'台積電','2303.TW':'聯電','2454.TW':'聯發科','2317.TW':'鴻海'})
price_df1

In [7]:
price_df2 = price_df1.groupby(price_df1.index.month).agg([("平均","mean"),("最高","max"),("最低","min")])
price_df2

              台積電                                   聯電                        \
               平均           最高           最低         平均         最高         最低
Date
1      593.938330   636.821960   566.063965  47.525159  49.542423  45.563869
2      666.002103   685.959534   617.166931  46.081229  46.653236  45.469147
3      751.108175   775.061035   677.114746  48.753027  50.489697  45.753326
4      777.973691   809.617920   732.605469  48.206766  50.394970  46.132236
5      818.100045   863.921509   762.225647  50.571507  53.615700  47.647873
6      912.305950   972.323059   828.377380  52.957594  54.657703  50.679150
7      987.237572  1070.447388   915.827271  52.695233  55.299999  50.000000
8      927.901317   964.393799   807.791382  54.443182  56.000000  49.950001
9      939.119385  1006.022339   881.136780  54.250000  55.400002  53.299999
10    1031.531517  1075.403198   963.402649  51.147369  53.700001  48.150002
11    1026.600574  1080.358887   987.190369  45.345238  47.150002  43.549999
12    1060.761092  1080.358887  1025.845337  43.322727  44.799999  41.450001

              聯發科                                    鴻海              \
               平均           最高           最低          平均          最高
Date
1      887.701530   925.725586   842.352783   98.958071  102.375000
2      969.807735  1092.471069   891.226501  100.125004  100.912506
3     1116.885207  1178.718872  1058.930420  124.289288  151.612503
4     1033.487311  1149.969604   925.725586  147.615005  155.025009
5     1112.726318  1255.383545   958.308044  166.680684  180.862503
6     1306.829538  1437.462036  1178.718872  190.920399  212.062500
7     1305.235572  1430.077759  1194.996460  208.885715  226.500000
8     1154.302476  1229.279175   970.689758  180.363636  202.500000
9     1136.715894  1243.971680  1082.353394  179.550000  191.000000
10    1255.571148  1307.639526  1185.201416  205.447368  216.000000
11    1249.102487  1283.151978  1209.689087  208.071429  220.000000
12    1350.826854  1400.692627  1278.254395  188.795455  201.000000


              最低
Date
1      96.135002
2      98.475006
3      99.450005
4     137.475006
5     150.150009
6     166.725006
7     192.000000
8     163.500000
9     169.000000
10    187.000000
11    195.500000
12    181.000000