https://www.perplexity.ai/search/94f7fc8c-0595-416f-b080-1e318bd7404d

In [10]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    1.072416
   2    0.541091
   3    0.153119
b  1   -0.593321
   2    0.237622
c  3   -0.094247
   1    0.691306
d  2    0.070236
   3    0.003601
dtype: float64

In [3]:
data['a']

1   -1.071182
2   -0.717289
3    0.368197
dtype: float64

In [4]:
data['a'][2]

np.float64(-0.7172889572976424)

In [5]:
data['a':'b']

a  1   -1.071182
   2   -0.717289
   3    0.368197
b  1    0.105392
   2   -0.435909
dtype: float64

In [14]:
#Series->堆疊資料>(long data)
#2維資料->非堆疊資料>(width data)
data.unstack()

          1         2         3
a  1.072416  0.541091  0.153119
b -0.593321  0.237622       NaN
c  0.691306       NaN -0.094247
d       NaN  0.070236  0.003601

In [18]:
data.index.names = ['key1','key2']
data.groupby(level='key1').sum()

key1
a    1.766627
b   -0.355698
c    0.597059
d    0.073837
dtype: float64

### 使用unstack()時,(組合)索引不可以重複

In [7]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(10),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd','a'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3,1]])
#索引(a,1)重複了
data.unstack()

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [ ]:
series1 = frame.stack(level=['縣市','顏色'],future_stack=True)
series1.unstack(level=['key1', '縣市'])

key1          a          b
縣市           台北   台中    台北    台中
key2 顏色
1    Green  0.0  2.0   6.0   8.0
     Red    1.0  NaN   7.0   NaN
2    Green  3.0  5.0   9.0  11.0
     Red    4.0  NaN  10.0   NaN

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [ ]:
frame.T.groupby(level='顏色').sum()

key1   a      b
key2   1  2   1   2
顏色
Green  2  8  14  20
Red    1  4   7  10