### DataFrame的操作

https://www.perplexity.ai/search/c9eb03d9-5681-4f6c-956d-6764ee19c80a

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

np.random.seed(42)
scores = np.random.randint(50, 101,(50,5))
df1:DataFrame = pd.DataFrame(scores,
             index=[f'學號{i}' for i in range(1,51)],
             columns=["國文","英文","數學","歷史","生物"])
df1

In [ ]:
#選取1欄
df1['國文']
df1['英文']

In [6]:
#選取多欄
#df[list]

df1[['國文','英文']]

       國文   英文
學號1    88   78
學號2    70   88
學號3    60   73
學號4    52   71
學號5    79   87
學號6    61   71
學號7    76   91
學號8    96  100
學號9   100   56
學號10   67   53
學號11   58   75
學號12   96   56
學號13   84   63
學號14   89   53
學號15   53   78
學號16   83   59
學號17   97   64
學號18   89   70
學號19   96   73
學號20   90   78
學號21   74   56
學號22   93   57
學號23   66   57
學號24   54   91
學號25   56   58
學號26   82   97
學號27   84   93
學號28   84   50
學號29   63   52
學號30   63   88
學號31   64   75
學號32   81   88
學號33   79   86
學號34   64   92
學號35   81   56
學號36   51   91
學號37   77   93
學號38   60   77
學號39   50   76
學號40   88   55
學號41   86   82
學號42   73   64
學號43   90   98
學號44   51   52
學號45   66   98
學號46   72   86
學號47   68   51
學號48   55   81
學號49   87   73
學號50   71   60