In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv('上市公司資料.csv')
df1 = df.reindex(columns=['資料年月','公司代號','公司名稱','產業別','營業收入-當月營收','營業收入-去年同月增減(%)'])
df1

      資料年月  公司代號 公司名稱   產業別  營業收入-當月營收  營業收入-去年同月增減(%)
0    11108  1102   亞泥  水泥工業    7069221       -1.724460
1    11108  1108   幸福  水泥工業     390053       56.035555
2    11108  1109   信大  水泥工業     478276      -19.122427
3    11108  1110   東泥  水泥工業     176935       61.915700
4    11108  1213   大飲  食品工業      38696       -8.546039
..     ...   ...  ...   ...        ...             ...
834  11108  9942   茂順    其他     352730        4.978542
835  11108  9943  好樂迪  觀光事業     212912     4082.946955
836  11108  9944   新麗    其他     179660        0.555220
837  11108  9955   佳龍    其他      81881      -25.099022
838  11108  9958  世紀鋼  鋼鐵工業     757968      -29.395195

[839 rows x 6 columns]